.cart {
  width: 100%;
  display: flex;


  &__image {
    width: 100px;
    height: 100px;
    background-color: red;
  }
}

.cart__something {
  display: flex;
}

.cart__info__amount {
  display: flex;
  align-items: center;
}