.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-primary);

  &__button {
    border: none;
    background: none;
    padding: 0;
  }

  &__logo {
    text-decoration: none;
    font-size: 2em;
    font-weight: 800;
  }
}